* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(120deg, #3ca7ee, #9b408f);
  padding: 10px 20px;
}

.header-title h1 {
  color: white;
  font-size: 24px;
}

.header-title span {
  font-weight: bold;
}

.user-status {
  color: white;
}

.user-status .status {
  color: #05f631;
}

.container {
  display: flex;
}

aside {
  width: 200px;
  background-color: #333;
  color: white;
  padding: 20px;
}

aside nav ul {
  list-style: none;
}

aside nav ul li {
  padding: 10px 0;
  cursor: pointer;
}

aside nav ul li:hover {
  background-color: #555;
}

aside nav ul li a {
  text-decoration: none;
  color: white;
  font-family: Arial;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
  font-size: 0.8em;
}
.Members {
  background-color: #555;
}

:root {
  --blue-color: #3ca7ee;
}
main {
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-box {
  height: 70px;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
  border-radius: 15px;
  text-align: center;
  margin: auto;
}
.search-input {
  width: 100%;
  height: 100%;
  border: none;
  color: #fff;
  padding: 20px 100px 20px 35px;
  font-size: 40px;
}

.search-btn {
  color: #242628;
  outline: none;
  border: none;
  width: 70px;
  height: 70px;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  font-size: 30px;
}
